body {
  margin: 0;
  background: rgb(255, 224, 196);
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
 }

.bg-top {
  background: pink;
  width: 100%;
  height: 280px;
}

.top-block {
  background: orange;
  height: 8px;
}

form {
  background: white;
  position: relative;
  margin: 0 auto;
  max-width: 640px;
  top: -100px;
  padding-bottom: 50px;
  box-shadow: 0 0 5px rgb(133, 133, 133);
}

.info {
  font-size: 13px;
}

.tip {
  color: red;
  font-size: 12px;
  margin-top: 20px;
}

.cotainer {
  position: relative;
  width: 600px;
  top: 10px;
  margin: 0 auto;
}

.col {
  padding: 13px 10px;
  margin: 2px 10px;
}

.description {
  display: flex;
  align-items: center;
  font-size: 21px;
  margin-top: 20px;
}

.description > p {
  margin: 0;
}

.col > p {
  font-size: 13px;
  margin: 0;
}

.star {
  color: red;
  margin-left: 5px;
  margin-top: 4px;
}

.col > input {
  border: none;
  border-bottom: 1px solid rgb(236, 236, 236);
  width: 280px;
  margin-top: 30px;
  font-size: 16px;
}

.opt {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 550px;
}

input[type=radio] {
  cursor: pointer;
  font-size:20px;
  margin-right: 10px;
}

input[type=submit] {
  background: rgb(25, 117, 255);
  color: white;
  font-size: 14px;
  margin-top: 40px;
  padding: 6px 30px;
  border-radius: 4px;
  cursor: pointer;
}

.note {
  font-size: 12px;
  color: grey;
  margin-top: 20px;
}

.report {
  position: fixed;
  left: 20px;
  bottom: 20px;
}

.invalid {
  color: rgb(255, 52, 52);
}

.empty {
  background: #fce8e6;
  background-color: #fce8e6;
}

.none {
  display: none;
}

.opt-invalid {
  color: rgb(255, 52, 52);   
}